body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;/* Change to a romantic cursive font */
    background-color: #e95061;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    margin: 0;
    background: url('images/yo.jpg') repeat;
    font-size: 35px;
    color: rgb(232, 116, 197);
}
.hh{
    -webkit-text-stroke: 2px #f34ac3;
    font-weight:900;

}
.pp{
    -webkit-text-stroke: 2px #ec18ac;

    font-size: 50px;
   
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;/* Change to a romantic cursive font */
}

body

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.image{
    height: 280px;
    border-radius: 50%;
    border-color: #ff0c4d;
    
}

.buttons button {
    background-color: #0be25a;
    color: #ffffff;
    padding: 10px 30px;
    border: none;
    border-radius: 10px; color: #000000 solid;
    margin: 10px;
    font-size: 26px;
    cursor: pointer;
    position: relative;
    font-family: 'Lobster', cursive; /* Change to a romantic cursive font */

}

.buttons button:hover {
    background-color: #bcb6b8;

}

.buttons{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#no-button{
    background-color: #ff0c4d;
    color: #ffffff;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    font-size: 26px;
    cursor: pointer;
    position: relative;
    font-family: 'Lobster', cursive; /* Change to a romantic cursive font */
    
}

.hidden-message {
    display: none;
    margin-top: 20px;
}

.move {
    animation: moveNoMessage 0.5s linear;
}

@keyframes moveNoMessage {
    0% { transform: translate(0, 0); }
    25% { transform: translate(30px, 30px); }
    50% { transform: translate(-20px, -20px); }
    75% { transform: translate(10px, 10px); }
    100% { transform: translate(0, 0); }
}
